body {
  background: url($URL);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.theme-dark .appMount-3lHmkl {
  background: rgba(0, 0, 0, $SHADOW);
}
.theme-light .appMount-3lHmkl {
  background: rgba(255, 255, 255, $SHADOW);
}
.theme-dark, .theme-light {
  --background-primary: transparent;
  --background-secondary: transparent;
  --background-tertiary: transparent;
}
.theme-dark {
  --background-floating: rgba(0, 0, 0, .8);
}
.theme-light {
  --background-floating: rgba(255, 255, 255, .9);
}
/* TOP LEFT DISCORD HOME ICON AND PROFILE TAB */
.theme-dark .childWrapper-anI2G9 {
  background-color: #35383e;
}
.theme-light .childWrapper-anI2G9, .theme-light .body-3ND3kc, .theme-light .topSectionNormal-2-vo2m {
  background-color: #e8eef8;
}
/* VOICE STATE (BOTTOME LEFT) */
.panels-j1Uci_, .theme-dark .container-1D34oG, .theme-light .container-1D34oG {
  background-color: transparent;
}
/* VIDEO CALL */
.wrapper-2qzCYF.minimum-28Z35l {
  height: 215px;
  background-color: rgba(54, 57, 63, 0.5);
}
/* "JUMP TO PRESENT" BAR */
.jumpToPresentBar-G1R9s6 {
  background-color: #7289da;
  border-radius: 8px;
}
/* CODE BLOCK */
.theme-dark .markup-2BOw-j code {
  background-color: #35383e;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
.theme-dark .markup-2BOw-j code.inline {
  padding: 0.165em 0.2em;
}
.theme-light .markup-2BOw-j code.inline {
  background-color: #e3e5e8;
  border-radius: 5px;
}
/* REACTION */
.reactionInner-15NvIl[aria-pressed="false"] {
	background: rgba(0, 0, 0, $SHADOW);
	border-radius: 0.5em;
}
.theme-light .reactionInner-15NvIl[aria-pressed="false"] {
	background: rgba(255, 255, 255, $SHADOW);
}
/* SERVER BAR & CHANNEL BAR */
.theme-dark .guilds-1SWlCJ, .theme-dark .sidebar-2K8pFh {
  border-right: 1px solid rgba(255, 255, 255, .06);
}
.theme-light .guilds-1SWlCJ, .theme-light .sidebar-2K8pFh {
  border-right: 1px solid rgba(0, 0, 0, .06);
}
.guilds-1SWlCJ {
	width: 71px;
}
.sidebar-2K8pFh {
	width: 239px;
}
/* SERVER LIST */
.tree-3tCaw8 {
  outline-width: 0;
}
/* USER PROFILE & VOICE STATE */
.container-1giJp5, .headerWrapper-3NUKsd, .panels-j1Uci_ {
  border-top: 1px solid var(--background-modifier-accent);
}
/* PINNED MESSAGES AND INBOX */
.messagesPopoutWrap-1MQ1bW, .container-enaOkj {
  background-color: rgba(54, 57, 63, 0.92);
  border-radius: 15px;
}
.theme-light .messagesPopoutWrap-1MQ1bW, .theme-light .container-enaOkj {
  background-color: rgba(232, 238, 248, 0.8);
}
/* SCREENSHARE ICON */
.badge-1JXQev {
  background-color: #1abc9c;
}
.badge-1JXQev path {
  color: white;
}
/* -------------------------- PROFILE TAB -------------------------- */
/* SPOTIFY FIX */
.headerSpotify-zpWxgT, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, .4);
  margin-bottom: 10px;
}
.headerSpotify-zpWxgT {
  background-color: rgba(79, 170, 101, .36);
}
/* "PLAYING A GAME" */
.headerPlaying-j0WQBV, .headerStreaming-2FjmGz {
  background: rgba(79, 100, 170, .36);
}
/* BACKGROUND */
.headerNormal-1l1Znk {
	background-color: transparent;
}
.theme-light .headerTop-2yV6H {
	background-color: rgba(255, 255, 255, $SHADOW);
}
.userPopout-3XzG_A {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .2)), url($URL);
  background-position: center top;
  background-size: cover;
  background-color: #000000;
}
.theme-light .userPopout-3XzG_A {
  background-image: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .2)), url($URL);
}
/* HEADER */
.theme-dark .headerNormal-T_seeN, .theme-light .headerNormal-T_seeN {
  margin-bottom: 10px;
}
.theme-dark .headerTop-2cWpdB {
	background-color: rgba(0, 0, 0, $SHADOW);
}
.theme-light .headerTop-2cWpdB {
	background-color: rgba(255, 255, 255, $SHADOW);
}
/* ADD NOTES */
.body-3iLsc4, .activityUserPopout-2yItg2.activity-fViXj7.newPopoutActivityStyles {
	padding-bottom: 0;
	background-color: rgba(0, 0, 0, $SHADOW);
}
.theme-light .body-3iLsc4, .theme-light .activityUserPopout-2yItg2.activity-fViXj7.newPopoutActivityStyles {
	background-color: rgba(255, 255, 255, $SHADOW);
}
.note-3HfJZ5 textarea, .inputDefault-_djjkz.input-cIJ7To.input-2_SIlA {
	border: 1px solid #777777;
	outline-width: 0;
}
/* MESSAGE BOX */
.footer-1fjuF6 {
	padding: 10px 12px;
	background-color: rgba(0, 0, 0, $SHADOW);
}
.theme-light .footer-1fjuF6 {
	background-color: rgba(255, 255, 255, $SHADOW);
}
/* -------------------------- END PROFILE TAB -------------------------- */
/* CHAT MESSAGE BAR */
.theme-dark .scrollableContainer-2NUZem {
  border: 1px solid white;
  border-radius: 22px;
  background-color: rgba(54, 57, 63, 0.6);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, .4);
  transition-duration: 0.18s;
}
.theme-light .scrollableContainer-2NUZem {
  border: 1px solid white;
  border-radius: 22px;
  background-color: rgba(54, 57, 63, 0.6);
  box-shadow: 0 0 2px 1px rgba(190, 190, 190, .4);
  transition-duration: 0.18s;
}
.scrollableContainer-2NUZem:focus-within {
  border: 1px solid #7289da;
}
.theme-light .scrollableContainer-2NUZem {
  background-color: rgba(255, 255, 255, 0.25);
}
/* ROLE GIVER TAB IN SERVER SETTINGS */
.theme-dark .card-FDVird:before, .theme-light .card-FDVird:before {
  background-color: transparent;
  border-color: transparent;
}
/* GIF & EMOJI SEARCH BAR */
.inner-2P4tQO, .searchBar-5di9mG {
  border: 1px solid #7289da;
  border-radius: 17px;
}
/* GIF PICKER BACKGROUND */
.theme-light .container-3ISnnM {
  background-color: transparent;
}
/* MENTION HIGHLIGHT */
.mentioned-xhSam7 {
  background-color: rgba(250, 166, 26, 0.085);
}
/* REMOVAL */
.protip-YaFfgO, .inspector-S2gM3e, #private-channels-1, #private-channels-2, .nowPlayingColumn-2sl4cE, .buttons-3JBrkn button[aria-label="Send a gift"], .separator-2I32lJ[role="separator"], .wrapper-3_530D[role="group"],
#user-settings-cog-My_Account, #user-settings-cog-Privacy___Safety, #user-settings-cog-Authorized_Apps, #user-settings-cog-Connections, #user-settings-cog-Discord_Nitro, #user-settings-cog-Nitro_Server_Boost, #user-settings-cog-Library_Inventory, #user-settings-cog-Billing, #user-settings-cog-Appearance--system, #user-settings-cog-Appearance--compact-mode, #user-settings-cog-Text___Images, #user-settings-cog-Voice___Video--input, #user-settings-cog-Voice___Video--output, #user-settings-cog-Accessibility, #user-settings-cog-Notifications, #user-settings-cog-Keybinds, #user-settings-cog-Language, #user-settings-cog-Streamer_Mode, #user-settings-cog-Advanced, #user-settings-cog-Game_Activity, #user-settings-cog-changelog, #user-settings-cog-Hypesquad_Online,
#message-add-reaction, #message-pin, #message-reply, #message-actions-tts, #message-tts,
#user-context-mark-channel-read, #user-context-user-profile, #user-context-mention, #user-context-message-user, #user-context-call, #user-context-note, #user-context-close-dm, #user-context-invite-to-server, #user-context-add-friend, #user-context-remove-friend, #user-context-block,
#guild-context-hide-muted-channels, #guild-context-guild-settings, #guild-context-notifications, #guild-context-privacy, #guild-context-change-nickname, #guild-context-create-channel, #guild-context-create-category {
  display: none;
}
